@font-face {
    font-family:"LatoRegular";
    src: url("fonts/LatoFont/Lato-Regular.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family:"LatoBold";
    src: url("fonts/LatoFont/Lato-Bold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family:"LatoItalic";
    src: url("fonts/LatoFont/Lato-Italic.ttf") format("truetype");
    font-weight:200;
}

@font-face {
    font-family:"LatoBoldItalic";
    src: url("fonts/LatoFont/Lato-BoldItalic.ttf") format("truetype");
    font-weight:600;
}